scikit-learn
mkl_fft
rope
packaging
pillow
matplotlib
joblib
python-dateutil
olefile
mccabe
argon2-cffi
ipython
wheel
scipy
widgetsnbextension
appdirs
certifi
regex
pyparsing
jinja2
setuptools
pyzmq
pandas
sip
pathspec
networkx
numpy
pycparser
pathos
mkl-service
six
pygments
typing_extensions
ipython_genutils
pytz
click
jupyter_client
jupyter_core
jedi
pandocfilters
qtpy
cycler
importlib-metadata
jsonschema
jupyterlab_pygments
ipykernel
backcall
lazy-object-proxy
traitlets
jupyter_console
send2trash
jupyter
notebook
tornado
nbconvert
mypy_extensions
black
decorator
ptyprocess
tqdm
cffi
pylint
mistune
typed-ast
pyrsistent
mkl_random
ipywidgets
wcwidth
seaborn
jupyterlab_widgets
markupsafe
testpath
bleach
nbclient
pickleshare
kmodes
defusedxml
attrs
pexpect
async_generator
zipp
nest-asyncio
terminado
astroid
isort
parso
prometheus_client
wrapt
webencodings
qtconsole
entrypoints
pip
pyqt5
prompt-toolkit
threadpoolctl
toml
nbformat
kiwisolver
